*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.max-min-width{
    margin: 0 auto;
    min-width: 360px;
    max-width: 900px;
    padding: 10px;
    margin-bottom: 200px;
}



.max-min-height{
    max-width: 600px;
    margin: 100px auto;
}
.max-min-height img{
    max-width: 600px;
    min-width: 300px;
}
.max-min-height article{
    border: 3px solid coral;
    padding: 10px;
    /* min-height: 150px; */
    
    /* max-height: 300px; */
    height: 550px;
    min-height: 200px;
    
}